---
import Hero from '../components/home/Hero.astro';
import Panel1 from '../components/home/Panel1.astro';
import Panel2 from '../components/home/Panel2.astro';
import Panel3 from '../components/home/Panel3.astro';
import Panel4 from '../components/home/Panel4.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Ipsum Costa Rica | Construcción, gestión y diseño"
	description="Empresa dedicada a la construcción, gestión y diseño de obras civiles integrales en Costa Rica."
>
	<main>
		<Hero />
		<Panel1 />
		<Panel2 />
		<Panel3 />
		<Panel4 />
	</main>
</Layout>
